Repository jhasavi/signals: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(web): restore homepage with filters
  apps/web/src/app/page.tsx
Due: prettier --write, eslint --fix

chore: document Vercel envs, DNS and cookie domain; update .env.example
  .env.example
  DEPLOYMENT_CHECKLIST.md
Due: prettier --write

chore(release): add RELEASE_NOTES and release workflow
  .github/workflows/release.yml
  RELEASE_NOTES.md
Due: prettier --write

chore(web): add public placeholder for Vercel output
  public/index.html
Due: none

chore(web): remove public placeholder so Next.js is served on root
  apps/web/src/app/alerts/page.tsx
  apps/web/src/app/page.tsx
  watavaran
Due: prettier --write, eslint --fix

chore(web): remove public placeholder
  public/index.html
Due: none

chore: add vercel.json for monorepo Next.js build and routes
  vercel.json
Due: prettier --write

chore: remove vercel.json to use project settings for monorepo build
  .gitignore
Due: none

chore: remove custom vercel.json routing (use project settings)
  vercel.json
Due: prettier --write

fix(startup): prefer port 3000, free dev port safely; make paths portable in docs
  QUICK_START.md
  SETUP_COMPLETE.md
  START_DEV.sh
  USER_GUIDE.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{md,json,css,scss})
  eslint --fix: any of: *.{ts,tsx,js,jsx}
